    <footer>

      <div class="footerAyuda">

        <h3>AYUDA</h3>
        <p>Como comprar</p>
        <p>Envios</p>
        <p>Preguntas Frecuentes</p>

      </div>

      <div class="footerContacto">

        <h3>CONTACTO</h3>
        <p>Telefono: (+54)9 11 2630-8090</p>
        <p>Email: infowholy@gmail.com</p>

      </div>

      <div class="footerRedes">

        <h3>REDES SOCIALES</h3>
        <a href="https://www.instagram.com/verovidafit/"><i class="fa-brands fa-instagram"></i></a>
        <a href=""></a>
        <i class="fa-brands fa-whatsapp"></i>

      </div>

    

    </footer>