<header>
  <div class="searchbar">
    <i class="fa-sharp fa-solid fa-magnifying-glass fa-2x"></i><!--icono lupa--> 
    <input type="text" placeholder="Buscar productos, servicios, más..">
  </div>
  <div class="isologotipo">
    <h1>WHOLY</h1>
    <h2>HEALTHY FOOD</h2>

  </div>
  <div>
    <div class="carrito">
      <i class="fa-regular fa-cart-shopping"></i>
    </div>
    <div class="user">
      <i class="fa-regular fa-user"></i>
    </div>
  </div>


</header>