<section class="navbar">
    <ul>
      <li> <a href=""> HOME </a> </li>
      <li> <a href=""> PRODUCTOS </a> </li>
      <li> <a href=""> CURSOS </a> </li>
      <li> <a href=""> NOSOTRAS </a> </li>
      <li> <a href=""> AYUDA </a> </li>
    </ul> 
  </section>
  <section class="burgerNavBar">
    <!--agregar buger menu-->
    <i class="fa-solid fa-bars"></i>
      
  </section>