<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="stylesheet" href="../public/css/homeStyle.css">
        <link rel="stylesheet" href="../public/css/navbarStyle.css">
        <link rel="stylesheet" href="../../public/css/userStyle.css">
        <link rel="stylesheet" href="../../public/css/productsStyle.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!-- Para que funcionen lo Iconos, no tocar -->
        <script src="https://kit.fontawesome.com/9ff4ec337d.js" crossorigin="anonymous"></script> <!-- Para que funcionen lo Iconos, no tocar -->
    </head>
    <body>
      <main>
        
        <section class="productDetail">
          
      
            <div class="infoDetail">
              <h2 class="subtitle">Banana Pancakes</h2>
              <h3>$3000</h3>
              <h4>20%</h4>
              <h3>$2500</h3>
              <p>Ingredientes Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste necessitatibus possimus porro suscipit vel soluta provident cupiditate aperiam a quos illum, nesciunt corrupti hic repudiandae officiis ad sit? Omnis, illum.</p>
              <button class="addProduct">AGREGAR A CARRITO</button>
            </div>

            <div class="fotoDetail">
              <img src="../../public/img/products/product.jpeg" alt="imagen producto">
            </div>

        </section>

      </main>
  </body>
</html>